* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
  background: #f7f9ff;
}